body {
  margin: 0;
  padding: 0;
}
.header {
  margin: auto;
  color: #fff !important;
  background-color: #007bff !important;
}

.title {
  margin: 0 auto;
  height: 60px;
  width: 100%;
  text-align: center;
}
.section__login__wrapper {
  margin: auto;
  height: 300px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}
a {
  text-decoration: none;
}
.wrapper {
  min-height: calc(100vh - 60px);
  background-color: rgba(128, 128, 128, 0.342);
}
.btn {
  margin: 5px;
  height: 40px;
  width: 150px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}
.section__login {
}
.section__password {
}
.sing_up {
}
.sing_pass {
}

/* .check {
  width: 5px;
  height: 5px;
  background-color: aliceblue;
}
.unCheck {
  width: 5px;
  height: 5px;
  background-color: rgb(78, 21, 24);
} */
.lineThrough {
}

.container {
  display: flex;
  flex-direction: row;
  margin:50px 150px;
  width: 100%;
  
}
.todo_input{
    width: 50%;
}
.task_list{
    width: 50%;
}